.project
.classpath

/.settings
/target/archive-tmp
/target/classes
/target/generated-sources
/target/maven-archiver
/target/maven-status
/target/SurvivalGames-with-dependencies.jar
/target/SurvivalGames-without-dependencies.jar